extends layout

block content

  #header_app
    img(src='images/marcador_mapa_bici.png' alt='logo' class="logo")
    h1 Red de Bicicletas
    form#search(autocomplete='on' method='POST')
      label(for='search-input')
      // In practice, e-commerce sites generally don't set minimum query length
      input#search-input(aria-label='Search' minlength='3' name='query' placeholder='Search' type='search')
      button
        svg(viewbox='0 0 24 24')
          path(d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z')
          path(d='M0 0h24v24H0z' fill='none')
  main
      #mapa
  footer
    .footer-title
      p Red de Bicicletas - App by H&eacute;ctor - 2020
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/mapa.js')