html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  display: grid;
  height: calc(100% - 50px);
  justify-items: center;
  padding: 20px 75px;
  background-color: #E5E5E5;
}
#header_app {
  align-items: center;
  display: grid;
  height: calc(100% - 50px);
  justify-items: center;
}

#header_app img {
  padding-bottom: 20px;
}

main {
  position: relative;
  padding-top: 30px;
  width: 80%;
}

.footer-title {
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

h1 { 
  /* Red de Bicicletas */
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #004CA5;
  padding-bottom: 20px;
}

form#search * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form#search {
  align-items: center;
  display: flex;
  max-width: 600px;
  width: 100%;
  padding-bottom: 20px;
}

form#search label {
  display: none;
  font-weight: 500;
  margin: 0 10px 0 0;
}

form#search input {
  border: solid #ccc;
  border-width: 1px 0 1px 1px;
  border-radius: 2px 0 0 2px;
  flex: 1;
  font-size: 16px;
  font-weight: 200;
  height: 40px;
  margin: 0;
  min-width: 90px;
  padding: 5px;
  -webkit-appearance: textfield;
}

form#search button {
  border: none;
  cursor: pointer;
  height: 40px;
  padding: 0;
}

form#search svg {
  background-color: #004CA5;
  border-radius: 0 2px 2px 0;
  fill: white;
  height: 40px;
  min-width: 40px;
  padding: 0 7px;
  width: 40px;
}

form#search svg:hover {
  background-color: #004Cd2;
  fill: white;
}

@media all and (min-width: 500px) {
  form#search label {
    display: inline;
  }  
  form#search input::placeholder {
    opacity: 0;
  }  
}

#mapa {
  height: 500px;
}
