extends ../layout

block content
    a(href='/bicicletas') Volver


    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col')
                th(scope='col')
            tbody
                    tr
                        th(scope='row')
                            = bici.id
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion